upstream dashboard {
    server dashboard:8000;
}

upstream product {
    server product:8000;
}

upstream order {
    server order:8000;
}

upstream invoice {
    server invoice:8000;
}

upstream account {
    server account:8000;
}

upstream permission {
    server permission:8000;
}

server {
    listen 80;

    location /site-alive {
        return 200 'site-alive!';
        add_header Content-Type text/plain;
    }

    location /dashboard/static/ {
        autoindex on;
        alias /dashboard-service/api-static/;
    }

    location /invoice/static/ {
        autoindex on;
        alias /invoice-service/api-static;
    }

    location /order/static/ {
        autoindex on;
        alias /order-service/api-static;
    }

    location /product/static/ {
        autoindex on;
        alias /product-service/api-static;
    }

    location /invoice {
       proxy_pass http://invoice;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
       proxy_set_header Host $host;
       proxy_redirect off;
    }

    location /order {
       proxy_pass http://order;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
       proxy_set_header Host $host;
       proxy_redirect off;
    }

    location /product {
       proxy_pass http://product;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
       proxy_set_header Host $host;
       proxy_redirect off;
    }

    location /account {
       proxy_pass http://account;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
       proxy_set_header Host $host;
       proxy_redirect off;
    }

    location /permission {
       proxy_pass http://permission;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
       proxy_set_header Host $host;
       proxy_redirect off;
    }

    location / {
       proxy_pass http://dashboard;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
       proxy_set_header Host $host;
       proxy_redirect off;
    }
}
